// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700');

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.15s linear 0s;
  -moz-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}

a:focus {
  outline: medium none;
  text-decoration: none;
}

a img {
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

$accent-color: #ffa411;


header{
  .top-line{
    padding-top: 10px;
    background: url("../images/top-line.jpg") center;
    background-size: cover;
    height: 106px;
    &__logo{

      position: relative;
    }
    &__contacts{
      margin-top: 20px;
      text-align: center;
      .lighter{
        font-weight: 200;
        font-size: 32px;
      }
    }
    &__number{
      display: inline-block;
      font-size: 33px;
      color: #fff;
      letter-spacing: -0.025em;
      position: relative;
      padding-left: 40px;
      line-height: 24px;
      margin-right: 35px;
      a{
        font-size: 14px;
        color: #fff;
        letter-spacing: -0.025em;
        text-decoration: underline;
        text-transform: uppercase;
        padding-left: 95px;
        &:hover{
          color: $accent-color;
        }
      }
      &:before{
        content: "";
        background: url("../images/number-ico.png");
        height: 29px;
        width: 29px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &__message{
      display: inline-block;
      position: relative;
      padding-left: 55px;
      top: -25px;
      &:before{
        content: "";
        background: url("../images/message-icon.png");
        height: 28px;
        width: 42px;
        position: absolute;
        top: 5px;
        left: 0;
      }
     a{
       font-weight: 200;
       font-size: 25px;
       color: #fff;
       letter-spacing: -0.025em;
       text-decoration: underline;
       text-transform: uppercase;
       &:hover{
         color: $accent-color;
       }
     }

    }
    &__network{
      margin-top: 15px;
      text-align: center;
      a{
        &:last-child{
          img{
            margin-right: 0;
          }
        }
        &:hover{
          img{
            background-color: #fff;
            border-radius: 5px;
          }
        }
        img{
          margin-right: 17px;
        }
      }
    }
  }
  .navigation{
    &__menu{
      margin-top: 20px;
      ul{
        .active{
          border-bottom: 2px solid $accent-color;
        }
        li{
          list-style: none;
          display: inline-block;
          margin-right: 40px;
          &:last-child{
            margin-right: 0;
          }

          a{
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 300;
            color: #646464;
            letter-spacing: -0.025em;
            &:hover{
              color: $accent-color;
            }
          }
        }
      }
    }
    &__adress{
      position: relative;
      margin-top: 10px;
      font-size: 15px;
      line-height: 16px;
      font-weight: 300;
      color: #646464;
      text-transform: uppercase;
      padding-left: 90px;
      &:before{
        content: "";
        background: url("../images/metka-icon.png");
        height:44px;
        width:34px;
        position: absolute;
        top: 2px;
        left: 40px;
      }
    }
  }
}

.heading{
  background: $accent-color url("../images/header-bg.jpg") no-repeat center;
  background-size: cover;
  height:530px;
  margin-top: 10px;
  &__title{
    margin-top: 190px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -0.025em;
  }
}

.main-body{
  .links_odde{
    text-align: center;
    a{
      font-size: 32px;
      font-weight: 200;
      color: #3c3c3c;
      text-decoration: underline;
      letter-spacing: -0.025em;
      &:hover{
        color: $accent-color;
      }

    }
  }
  .stone-main{
    &__heading{
      background: url("../images/stone-line.png") no-repeat center;
      padding-top: 15px;
      height: 145px;
      background-size: cover;
      position: relative;
      z-index: 2;
      .stone-main__title{
        text-align: center;
        span{
          font-size: 58px;
          font-weight: 200;
          letter-spacing: 0.1em;
          position: relative;
          text-transform: uppercase;
          color: #636363;
          &:before{
            content: "";
            background: url("../images/grey-left-uzor.png");
            height: 102px;
            width:156px;
            position: absolute;
            top: 0;
            left: -165px;
          }
          &:after{
            content: "";
            background: url("../images/gret-right-uzor.png");
            height: 102px;
            width:156px;
            position: absolute;
            top: 0;
            right:  -165px;
          }
        }
      }
    }

    &__heading2{
      background: url("../images/yellow-line.png") no-repeat center;
      padding-top: 15px;
      height: 130px;
      background-size: cover;
      position: relative;
      z-index: 2;
      .stone-main__title{
        text-align: center;
        span{
          font-size: 58px;
          font-weight: 200;
          letter-spacing: 0.1em;
          position: relative;
          text-transform: uppercase;
          color: #fff;
          &:before{
            content: "";
            background: url("../images/white-left-uzor.png");
            height: 102px;
            width:156px;
            position: absolute;
            top: 0;
            left: -165px;
          }
          &:after{
            content: "";
            background: url("../images/white-right-uzor.png");
            height: 102px;
            width:156px;
            position: absolute;
            top: 0;
            right:  -165px;
          }
        }
      }
    }


    &__flag{
      background: url("../images/stone-bg2.png") no-repeat center;
      background-size: cover;
      margin-top: -15px;
      margin-bottom: 25px;
    }
    &__cont1{
      .cont-wr{
        background: url("../images/flag1.png");
        height: 532px;
        width: 326px;
        position: relative;
        z-index: 1;
        top: -5px;
        .cont-inside{
          position: absolute;
          color: #fff;
          font-size: 58px;
          text-transform: uppercase;
          left: 50%;
          transform: translateX(-50%);
          top: 12%;
        }
      }

    }
    &__cont2{
      .cont-wr{
        background: url("../images/flag2.png");
        height: 532px;
        width: 326px;
        position: relative;
        z-index: 1;
        top: -5px;
        .cont-inside{
          position: absolute;
          color: #fff;
          font-size: 50px;
          text-transform: uppercase;
          left: 50%;
          transform: translateX(-50%);
          top: 12%;
          line-height: 55px;
        }
      }
    }
    &__papirus{
      background: url("../images/stone-bg3.jpg") no-repeat top;
      background-size: cover;
      padding-top: 25px;
      padding-bottom: 20px;
      .links_odde{
        color: #636363;
      }
      .papirus{
        &-out,
        &-out2,
        &-out3{
          background: url("../images/papirus.png");
          position: relative;
          height: 324px;
          width:311px;
        }
        &-inside,
        &-inside2,
        &-inside3{
          img{
            margin-bottom: 15px;
          }
          p{
            font-size: 20px;
            color: #684c2e;
            line-height: 25px;
          }
          margin-top: 60px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &__gallery{
     .links_odde{
       margin-bottom: 25px;
       a{
         color: #636363;
       }
     }
    }

    &__gall-wrp{
      margin-bottom: 10px;
      p{
        color: #684c2e;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .beat-uzor{
      background: url("../images/beat-uzor.png");
      height: 35px;
      width: 380px;
    }
    &__object{
      margin-top: 60px;
      height: 385px;
    }
    &__oject-inner{
      position: relative;
      margin-bottom: 35px;
      margin-top: 35px;
      img{
       height: 340px;
        width: 440px;
      }
      &:before{
        position: absolute;
        content: "";
        background: url("../images/border-object.png");
        height: 397px;
        width: 471px;
        top:-30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.footer{
  background-color: #dadada;
  padding-bottom: 20px;
  .org-line{
    border-top: 5px solid $accent-color;
    margin-bottom: 30px;
  }

  &__services{
    p{
      font-size: 14px;
      text-transform: uppercase;
      color: #656565;
      margin: 0;
    }
    ul{
      padding-left: 10px;
      li{
        list-style-image: url("../images/sq.jpg");
        line-height: 16px;
        a{
          font-size: 14px;
          color: #656565;
          &:hover{
            color: $accent-color;
          }
        }
      }
    }
  }
  &__number{
    font-size: 33px;
    font-weight: 200;
    color: #646464;
    letter-spacing: -0.025em;
    position: relative;
    padding-left: 55px;
    line-height: 24px;
    margin-right: 35px;
    margin-bottom: 20px;
    &:before{
      content: "";
      background: url("../images/number-ico.png");
      height: 29px;
      width: 29px;
      position: absolute;
      top: 0;
      left: 7px;
    }
  }
  &__message{
    position: relative;
    padding-left: 55px;
    margin-bottom: 20px;
    &:before{
      content: "";
      background: url("../images/message-icon.png");
      height: 28px;
      width: 42px;
      position: absolute;
      top: 5px;
      left: 0;
    }
    a{
      font-weight: 200;
      font-size: 25px;
      color: #646464;
      letter-spacing: -0.025em;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover{
        color: $accent-color;
      }
    }

  }
  &__adress{
    position: relative;
    margin-top: 10px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 300;
    color: #646464;
    text-transform: uppercase;
    padding-left: 55px;
    margin-bottom: 20px;
    &:before{
      content: "";
      background: url("../images/metka-icon.png");
      height:44px;
      width:34px;
      position: absolute;
      top: 2px;
      left: 5px;
    }
  }
  &__network{

    text-align: right;
    a{
      &:last-child{
        img{
          margin-right: 0;
        }
      }
      &:hover{
        img{
          background-color: $accent-color;
          border-radius: 5px;
        }
      }
      img{
        margin-right: 17px;
      }
    }
    +
    p{
      text-align: right;
      margin-top: 50px;
      a{
        font-size: 14px;
        color: #646464;
      }
    }

  }

}

